@(umsatzHitliste: Vector[Map[String, Object]],umsatzEinProdukt: Vector[Map[String, Object]],umsatzRegion: Vector[Map[String, Object]],umsatzLand: Vector[Map[String, Object]])
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/af.js"></script>
</head>

@navbar()
@tablepanel(umsatzHitliste,"UmsatzHitliste")
@tablepanel(umsatzEinProdukt,"UmsatzEinProdukt")
@tablepanel(umsatzRegion,"UmsatzRegion")
@tablepanel(umsatzLand,"UmsatzLand")
