@(Kunden: Vector[Map[String,Object]])
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/af.js"></script>
        <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>

@navbar(1)
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h2 align = "center">Übung 1</h2>

            <div class="row">
            @helper.form(action=routes.AnalysisController.analyse()){
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name='Name' placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" >Postleitzahl:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name='Postleitzahl' placeholder="Enter PLZ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Kundennummer:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name='Kundennummer' placeholder="Enter Kundennummer">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Region:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name='Region' placeholder="Enter Region">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Land:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name='Land' placeholder="Enter Land">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Produkt:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name='Produkt' placeholder="Enter Produktname">
                        </div>
                    </div>

                        <!-- Form code begins -->

                        <div class="form-group"> <!-- Date input -->
                            <label class="control-label col-sm-2" for="date">Von:</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="date1" name="Von" placeholder="YYYY/MM/DD" type="text"/>
                            </div>
                        </div>

                    <div class="form-group"> <!-- Date input -->
                        <label class="control-label col-sm-2" for="date">Bis:</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="date2" name="Bis" placeholder="YYYY/MM/DD" type="text"/>
                        </div>
                    </div>
                        <!-- Form code ends -->
                    <script>
                            $(document).ready(function(){
                            var date_input=$('input[name="Von"]'); //our date input has the name "Von"
                            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                            var options={
                            format: 'yyyy/mm/dd',
                            container: container,
                            todayHighlight: true,
                            autoclose: true,
                            };
                            date_input.datepicker(options);
                            })
                    </script>

                    <script>
                            $(document).ready(function(){
                                var date_input=$('input[name="Bis"]'); //our date input has the name "Bis"
                                var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                                var options={
                                    format: 'yyyy/mm/dd',
                                    container: container,
                                    todayHighlight: true,
                                    autoclose: true,
                                };
                                date_input.datepicker(options);
                            })
                    </script>



                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" name='mysubmit' class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            }
            </div>

            <script language="JavaScript" type="application/javascript">
                    function sendRow(element) {

                        var form = $('<form></form>');
                        var path = '/results'

                        var tableData = $(element).children("td").map(function () {
                            return $(this).text();
                        }).get();
                        var kundennummer = $.trim(tableData[0]);
                        var params = {name: '', plz: '', kundennummer: kundennummer};

                        form.attr("method", "post");
                        form.attr("action", path);

                        $.each(params, function(key, value) {
                            if ( typeof value == 'object' || typeof value == 'array' ){
                                $.each(value, function(subkey, subvalue) {
                                    var field = $('<input />');
                                    field.attr("type", "hidden");
                                    field.attr("name", key+'[]');
                                    field.attr("value", subvalue);
                                    form.append(field);
                                });
                            } else {
                                var field = $('<input />');
                                field.attr("type", "hidden");
                                field.attr("name", key);
                                field.attr("value", value);
                                form.append(field);
                            }
                        });
                        $(document.body).append(form);
                        form.submit();
                    }

            </script>

            <table id="results" class="table table-striped table-hover">
            @defining(Kunden.apply(0).keys) { columns =>
                <thead>
                    @for(key <- columns) {
                        <th> @key</th>
                    }
                </thead>
                <tbody>
                @for(m <- Kunden) {
                    <tr class='clickable-row' onclick="sendRow(this)">
                    @for(key <- columns) {
                        <td> @m(key).toString </td>
                    }
                    </tr>
                }
                </tbody>

            }
            </table>
        </div>




    </div>
