@(tableSet: Vector[Map[String, Object]], title: String)

<div class="panel-group">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" href="#@title">@title</a>
     </h4>
   </div>
   <div id="@title" class="panel-collapse collapse">
       <table id="results" class="table table-striped table-hover">
       @defining(tableSet.apply(0).keys) { columns =>
           <thead>
               @for(key <- columns) {
                   <th> @key</th>
               }
           </thead>
           <tbody>
           @for(m <- tableSet) {
               <tr class='clickable-row' onclick="sendRow(this)">
               @for(key <- columns) {
                   <td> @m(key).toString </td>
               }
               </tr>
           }
           </tbody>

       }
       </table>
     </div>
   </div>
 </div>
