@(tableSet: Vector[Map[String, Object]], title: String)

<div class="panel-group">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" href="#@title">@title</a>
     </h4>
   </div>
   <div id="@title" class="panel-collapse incollapse">
       <table id="results" class="table table-striped table-hover">
       @defining(tableSet.apply(0).keys) { columns =>
           @for(key <- columns) {
               <tr>
                <td> @key </td>
               @for(m <- tableSet) {
                   <td> @m(key).toString </td>
               }
               </tr>
           }

       }
       </table>
     </div>
   </div>
 </div>
