@(set1: Vector[Map[String, Object]],set2: Vector[Map[String, Object]],set3: Vector[Map[String, Object]])

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

@navbar()

<h3> Kundendaten </h3>
<table class="table table-striped">
  @defining(set1.apply(0).keys) { columns =>
    @for(key <- columns){
      <tr>
        <th> @key </th>
        @for(m <- set1){
          <td> @m(key).toString </td>
        }
     </tr>
    }
  }
</table>
<h3> Letzte Verkäufe </h3>
  <table class="table table-striped">
    @defining(set2.apply(0).keys) { columns =>
      @for(key <- columns){
        <tr>
          <th> @key </th>
          @for(m <- set2){
            <td> @m(key).toString </td>
          }
       </tr>
      }
    }
  </table>
<h3> Einnahmen </h3>
<table class="table table-striped">
  @defining(set3.apply(0).keys) { columns =>
    @for(key <- columns){
      <tr>
        <th> @key </th>
        @for(m <- set3){
          <td> @m(key).toString </td>
        }
     </tr>
    }
  }
</table>
